  <meta charset = "utf-8" />
	
	<table id="table-jjstock">	
      {% for data in stocks %}
          <tr>
              <td style="width:60px;">{{data['code']}}</td>
              <td>{{data['name']}}</td>
              <td>{{data['industry']}}</td>
              <td>{{data['jjnetvalue']}}</td>
              <td>{{data['netvalue']}}</td>
              <td>{{data['jjamountp']}}</td>
              <td>{{data['amountp']}}</td>
              <td>{{data['jjturnover']}}</td>
              <td>{{data['turnover']}}</td>
              <td>{{data['pricerate']}}</td>
              <td>{{data['qrratio']}}</td>
              <td class='checkjjvalue'>{{data['initchangeratio']}}</td>
              <td class='checkjjvalue'>{{data['changeratio']}}</td>
              <td>{{data['price']}}</td>
          </tr>
      {% endfor %}
 	 </table>
  
 <script type="text/javascript">
	 $(function () {
		 
		 $("td.checkjjvalue").each(function () {
			 if (($(this).text()) > 0){
				 
				$(this).html($(this).text()+"%").css({color:"red"})
				
			 }else if (($(this).text()) < 0){
				
				$(this).html($(this).text()+"%").css({color:"green"})
				
			 }else{
				 
				 $(this).html($(this).text()+"%").css({color:"black"})
			 }
		 });
	
	 });
 </script>
  